.container{
    background-color: hsl(206, 92%, 94%);
}

h5{
    padding-top: 15px;
}
.signup{
    margin-left: 15px;
}

.align__{
    margin-top: 150px;
}

.submit{
    margin-top: 10px;
}
nav{
    background-color: #74b9ff;
}

